@tailwind base;
@tailwind components;
@tailwind utilities;

img {
    transition: .3s all;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -ms-transition: .3s all;
    -o-transition: .3s all;
}

.loading {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#8BE8CB 94%,#0000) top/16px 16px no-repeat,
    conic-gradient(#0000 30%,#8BE8CB);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 16px),#000 0);
  animation:s3 0.5s infinite linear;
}

@keyframes s3{ 
  100%{transform: rotate(1turn)}
}
